
<html>
	<head>
		<meta charset="utf-8">
		<title>Invoice</title>

</style>

	</head>
	<body>
		<header>
			<h1>Reporte de Corte Mensual</h1>
			<address>
				<p>{{request.user.get_full_name}}</p>
                <p>{{request.user.cedula}}</p>
				<p>Tipo: {% if request.user.tipoPersona == 'F' %}Fisica{% else %}Juridica{% endif %}</p> 
                <p>Email: {{request.user.email}}</p>
                <p>{{today}}</p>
			</address>
		</header>
		<article>
			<table class="meta">
				<tr>
					<th><span># Corte</span></th>
					<td><span>{{general.id}}</span></td>
				</tr>
				<tr>
					<th><span>Fecha</span></th>
					<td><span>{{general.FechaCorte}}</span></td>
				</tr>
				<tr>
					<th><span>Balance Corte</span></th>
					<td><span id="prefix">RD$</span><span>{{general.BalanceCorte}}</span></td>
				</tr>
			</table>
			<table class="inventory">
				<thead>
					<tr>
						<th><span>Tipo</span></th>
						<th><span>Concepto</span></th>
						<th><span>Monto</span></th>
						<th><span>Fecha Transaccion</span></th>
					</tr>
				</thead>
				<tbody>
                {% for data in data %}
					<tr>
						<td>{% if data.Transaccion.TipoTransaccion == 'I' %}Ingreso{% else %}Gasto{% endif %}</td>
						<td>{{ data.Transaccion.Descripcion }}</td>
						<td><span data-prefix>$</span>{{ data.Transaccion.Monto }}</td>
						<td>{{ data.Transaccion.FechaTransaccion }}</td>
					</tr>
                {% endfor %}
				</tbody>
			</table>
            <div><span>Comentario:</span><br><br>{{general.Comentario}}</div>
			<table class="balance">
				<tr>
					<th><span>Total Ingresos</span></th>
					<td><span data-prefix>RD$</span><span>{{general.TotalIngresos}}</span></td>
				</tr>
				<tr>
					<th><span>Total Egresos</span></th>
					<td><span data-prefix>RD$</span><span>{{general.TotalEgresos}}</span></td>
				</tr>
				<tr>
					<th><span>Balance</span></th>
					<td><span data-prefix>RD$</span><span>{{general.BalanceCorte}}</span></td>
				</tr>
			</table>
		</article>
	</body>
</html>