{% extends 'finanzas/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Registrar Transaccion</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-primary">Transacciones</h6>
      </div>
      <div class="card-body">
        <div class="table-responsive">

    <form method="post">     {% csrf_token %}
    {{ form | crispy }}
    <button type="submit" class="btn btn-primary">Crear</button>


                </div>
            </form>  

  </div>


        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->







{% endblock %}