{% extends 'finanzas/base.html' %}
{% block content %}



<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Detalles del Corte</h1>
    <!-- DataTales Example -->
    <div class="card shadow mb-4">
      <div class="card-header py-3">
        <div><a href="/render/c/{{general.id}}/" class="btn btn-info" role="button">Generar PDF</a>
             <a href="/renderh/c/{{general.id}}/" class="btn btn-info" role="button">Generar HTML</a>
             <a href="/renderc/c/{{general.id}}/" class="btn btn-info" role="button">Generar CSV</a></div>
      </div>
      <div class="card-body">
            <div class="col-md-8">
         <div class="tab-content profile-tab" id="myTabContent">
            <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
               <div class="row">
                  <div class="col-md-6">
                     <label>Periodo</label>
                  </div>
                  <div class="col-md-6">
                     <p>{{general.Ano}}{{general.Mes}}</p>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <label>Fecha Corte</label>
                  </div>
                  <div class="col-md-6">
                     <p>{{general.FechaCorte}}</p>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <label>Limite</label>
                  </div>
                  <div class="col-md-6">
                     <p>{{general.BalanceInicial}}</p>
                  </div>
               </div>
               <div class="row">
                  <div class="col-md-6">
                     <label>Total Ingresos</label>
                  </div>
                  <div class="col-md-6">
                     <p>{{general.TotalIngresos}}</p>
                  </div>
               </div>
<div class="row">
                  <div class="col-md-6">
                     <label>Total Gastos</label>
                  </div>
                  <div class="col-md-6">
                     <p>{{general.TotalEgresos}}</p>
                  </div>
               </div>
<div class="row">
                  <div class="col-md-6">
                     <label>Balance Final</label>
                  </div>
                  <div class="col-md-6">
                     <p>{{general.BalanceCorte}}</p>
                  </div>
               </div>
<div class="row">
                  <div class="col-md-6">
                     <label>Comentario</label>
                  </div>
                  <div class="col-md-6">
                     <p>{{general.Comentario}}</p>
                  </div>
               </div>

            </div>
         </div>
      </div>
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Tipo</th>
                <th>Concepto</th>
                <th>Monto</th>
                <th>Fecha Transaccion</th>
              </tr>
            </thead>
            <tbody>

{% for data in data %}
              <tr>
                <td>{% if data.Transaccion.TipoTransaccion == 'I' %}Ingreso{% else %}Gasto{% endif %}</td>
                <td>{{ data.Transaccion.Descripcion }}</td>
                <td>{{ data.Transaccion.Monto }}</td>
                <td>{{ data.Transaccion.FechaTransaccion }}</td>
{% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>

  </div>
  <!-- /.container-fluid -->

</div>
<!-- End of Main Content -->







{% endblock %}